* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    /* line-height: 1.6; */
    color: #fff;
    scroll-behavior: smooth;
}

.genLayout{
    max-width: 1200px;
    margin: auto;
}
/* Header styles */
header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    /* position: sticky; */
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin-block: 1rem;
   height: 100px;
    /* padding: 1rem 5%; */
    /* max-width: 1200px;
    margin: 0 auto; */
}


.logo{
    display: flex;
    align-items: center;
    /* gap: 0.2rem; */
}

.logo>h6 {
    font-size: 1.5rem;
    font-weight: bold;
    color:black;
}


.navLinks {
    display: flex;
    list-style: none;
}

.navLinks >li {
    margin-left: 2rem;
    color: #e0e1e6;
}

.navLinks>li> a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}


.talk{
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    display: flex;
    /* cursor: pointer; */
    /* transition: background-color 0.3s ease; */
}

/* Hero section styles */
.home {
    background-color: #f8f9fa;
    padding: 4rem 5%;
    text-align: center;
    /* background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQam7CUfD_ECfEGdDC1mHFdhatN0cFIvYl8Ui0wCtzIUCs62U5C);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat; */
}

.banner {
    max-width: 1500px;
    margin: 0 auto;
    height: 700px;
    border: 2px solid black;
    background-image: url(./image/WhatsApp\ Image\ 2025-02-10\ at\ 08.48.15_c24f93bc.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    border-radius: 20px;
    text-align: left;
    text-align: center;
    /* #7ba2bd */
}

.banner >h1{
    font-size: 2.5rem;
    margin-top: 10rem;
    color:#fff;
    margin-left: 1rem;
    text-transform: capitalize;
    font-stretch: condensed;
}

.banner> p {
    font-size:small;
    color: #666;
    margin-bottom: 2rem;
    margin-left: 1rem;

}

.btn1{
    border-radius: 20px;
    background-color: #fff;
    color: black;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
}

.btn2{
    border-radius: 20px;
    background-color:transparent;
    color: #fff;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border: none;
}

/* Featured Properties section styles */
.propertiesTab {
    /* padding: 4rem 5%; */
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4,  1fr);
    color: black;
    /* height: 300px; */
    gap: 1rem;
    /* border: 2px solid black; */

}

.item{
    border-radius: 15px;
    background-color:#f8f9fa;
}
.one{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
}
.itemOneImage{
    width: 40%;
    height: 43vh;
    margin-block: 1rem;
    border-radius: 15px;
}

.itemOneImage>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.itemOneContent{
    width: 50%;
    color: #333;
    height: 40vh;
    margin-block: 1rem;
    align-items: center;
    justify-content: center;
}

.itemOneContent>h3{
    font-size: 23px;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 2rem;
    color: black;
}

.itemOneContent>p{
    font-size: 14px;
    color:black
    margin-block: .8rem;
}

.oneContent{
    border: 2px solid black;
    display: flex;
    border-radius: 50px;
    width: 150px;
    padding: 0.5rem 1rem;
    text-align: center;
    gap: .4rem;
    text-transform: capitalize;
}

.item>h4{
    font-size: 40px;
    margin:1.5rem 0rem 2.5rem 1rem ;
    font-weight: bold;
}

.item>p{
    margin-left: 1rem;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;

}
/* .btn3{
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    display: flex;
} */

.propertyWrapper{
    margin-block: 3rem;

}

.propertyHeading>h1{
    margin-top: 10rem;
    text-align: center;
    text-transform: capitalize;
    font-size: 2.4rem;
    color: black;
    line-height: 2.3rem;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
}

.button>a{
    padding: 0.5rem 1rem;
    border-radius: 25px;
   background-color: #fff;
   color: black;
   font-size: 13px;
   border: 1.5px solid #0b1d27;
   text-transform: capitalize;
}

.button> a:first-child{
    background-color: black;
    color: #fff;
}
.propertyGrid{
    display: grid;
    grid-template-columns:repeat(3, 32.5%) ;
    /* margin-top: 2rem; */
    gap: 1rem;
    margin-block: 2rem;
    
}

.propertyCard{
    height: 55vh;
    /* object-fit: cover; */
}
.propertyCard>img{
    width: 100%;
    height: 40vh;
    border-radius: 15px;
    object-fit: cover;
    /* object-position: center; */
}

.mark{
    display: flex;
    color:black;
    text-transform: capitalize;
}
.propertyCard>h6{
    margin-block: 0.2rem;
    font-size: 14px;
    text-transform: capitalize;
}
.propertyInfo{
    align-items: center;
    justify-content: space-between;
    /* margin-top: .6rem;
    font-size: 14px; */
    text-transform: capitalize;
    color: black;
    display: flex;
    /* margin-left: 1rem; */
} 
.propertyInfo>h3{
    color: #333;
    padding: 0.4rem;
    /* margin-top: .6rem;
    display: flex;
    margin-left: 1rem;
    justify-content: space-between; */
    text-transform: capitalize;
}
.propertyDetails{
    /* margin-top: .6rem; */
    color:#666;
    /* margin-left: 1rem; */
}
.propertyButton{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pbtn{
    text-align: center;
    border-radius: 20px;
    background-color: #fff;
    color: black;
    padding: 0.5rem 1rem;
}

.cardGrid{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    border-radius: 15px;
    gap: 1rem;
    padding: 1.5rem 1rem;
    /* height: 70vh; */
    width: 900px;

    
}

.highlightsCard{
    background-color:#f8f9fa;
    border-radius: 15px;   
}

 .span >span>i{
    margin-top: 2rem;
    margin-left: 2rem;
}

/* .cardContent{
    margin-top: 5rem;

} */
.cardContent>h3{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 20px;
    margin-left: 2rem;
    margin-top: 2rem;
}

.cardContent>p{
    margin-top: 2rem;
    margin-left: 2rem;

}
.highlights>h2{
    /* margin-top: 10rem; */
    text-align: center;
    text-transform: capitalize;
    font-size: 3rem;
    color: black;
    /* border: 2px solid blue; */
}
.highlights{
    display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 3rem;
  
}

.highlightsCard{
    color: black;

    /* margin-top: 20rem; */
}

.discover{
    margin-top: 5rem;
}

.discoverContent{
    display: flex;
    justify-content: space-between;
    color: black;
    text-transform: capitalize;
}

.discoverContent>h1{
    text-align: center;
    font-size: 3rem;

}

.discoverContent>button{
    text-align: center;
    border-radius: 20px;
    background-color: #fff;
    /* color: black; */
    padding: 0.5rem 1rem;
}

.discoverGrid{
    display: flex;
    margin-top: 2rem;
    /* height: 55vh; */
     gap: 1rem;
    /* margin-block: 2rem; */ */
}

.discoverGrid2{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.discoverGrid>img{
    width: 50%;
    height: 60vh;
    border-radius: 15px;
    object-fit: cover;
}

.discoverGrid2>img{
    width: 100%;
    height: 40vh;
    border-radius: 15px;
    object-fit: cover;
}

.frequentlyAsked{
    color: black;
    margin-top: 3rem;
}
.frequentlyAsked>h1{
    font-size: 3rem;
    text-transform: capitalize;
    text-align: center;

}

.frequent{
    margin-top: 2rem;
}

.question{
    border-radius: 10px;
    /* height: 10vh; */
    padding: 1.5rem 1rem;
    background-color: #f8f9fa;
    margin-block: 1rem;
}

.question1{
    display: flex;
    justify-content: space-between;
}
.questions{
    display:flex ;
    justify-content: space-between;
    border-radius: 10px;
    height: 10vh;
    padding: 0.5rem 1rem;
    background-color: #f8f9fa;
    margin-block: 1rem;
}

.blogs{
    display: flex;
    gap: 1rem;
   /* width: 100%; */
}

.blogCard{
    height: 55vh;
    width: 100%;
    margin-bottom: 2rem;
}
.cardImage{
    width: 100%;

}

.cardImage>img{
    width: 100%;
    height: 40vh;
    border-radius: 15px;
    object-fit: cover;
}

.blogContent>button{
    text-align: center;
    border-radius: 20px;
    background-color: #fff;
    /* color: black; */
    padding: 0.5rem 1rem;

}

.blogContent>h3{
    color: black;
    text-transform: capitalize;
    font-size: 20px bold;
    text-align:start;
}

/* footer */
.terraSpace{
    background-color: black;
    height:40vh;
    padding: 0.5rem 1rem;
}
.space{
    display: flex;
    justify-content: space-between;
    /* background-color: black; */
    color: #fff;

}

.terra>h1{
    font-size: 18px;
    margin-top: 2rem;  
}

.terra>p{
    font-size: small;
    margin-top: 1rem;
}

.terra>h2{
    margin-top: 2rem;
    font-size:18px ;
    text-transform: capitalize;
}

.terra>input{
    width: 100%;
    /* border: none; */
    padding: .2rem 1rem;
    border-bottom: 2px solid;
    background-color: black;


}
.explore{
    text-transform: capitalize;
    margin-top: 2rem;
}


.explore>ul>li{
    list-style: none;
    font-size: small;
    opacity: 0.5;
    margin-block: 1rem;
}

.services{
    text-transform: capitalize;
    margin-top: 2rem;
}

.services>ul>li{
    list-style: none;
    font-size: small;
    opacity: 0.5;
   margin-block: 1rem;
}


.quick{
    text-transform: capitalize;
    margin-top: 2rem;
}

.quick>ul>li{
    list-style: none;
    font-size: small;
    opacity: 0.5;
    margin-block: 1rem;
}

.date{
    display: flex;
    color: #fff;
    justify-content: space-between;
    font-size:18px;
    margin-top: 8rem;

}
.dateContent{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    text-transform: capitalize;
}




/* responsive code */
@media (min-width:240px)and (max-width:400px){
    nav{
        max-width: 420px;
        margin: auto;
    }
    
    label{
        display: block;
        font-size: 2rem;
    }

.navLinks{
    display: none;
    position: absolute;
    width: 340px;
    padding: 1.8rem;
    top: 4.4rem;
    right: 3px;
    z-index: 1;
    background-color: #b0b0c4;
    opacity: 0.97;
    border-bottom: 4px solid #094c3b;

}
   
.navLinks>li{
    padding: 0;
    flex-direction: column;
}

.navLinks>li>a{
    width: 100%;
    color: #0b1d27;
    font-size: 18px;
    padding: 0.6rem;
    text-align: center;
    border-bottom: 4px solid #fff;
}
.navBtn{
    width:150px;
    margin: 2rem auto 0;
}

.navBtn> button{
    width: 100%;
}

#toggle:checked + .navLinks{
    display: block;
    transform: none;
}

.banner{
    width: calc(100% - 30px);
    height: 400px;
}

.banner{
    left: 0;
}

.banner>h3{
    font-size: 2.4rem;
}

.propertiesTab{
    width: 100%;
    grid-template-columns: 1fr;
}

.item{
    flex-direction: column;

}

.itemOneImage,
.itemOneContent{
    width: 100%;
}

.itemOneImage,
img{
    width: 100%;
}

.propertyHeading> h1{
    font-size: 1.6rem;
}

.button{
    margin: auto;
    overflow: scroll;
    width: 300px;
}

.propertyGrid{
    width: 420px;
    margin: 3rem auto 3rem;
    grid-template-columns: 1fr;
}

.cardGrid{
    grid-template-columns: 1fr;
    width: 100%;
}
.discoverContent{
    flex-direction: column;
}
.discoverGrid{
   flex-direction: column;
}
.discoverGrid>img{
    width: 100%;
}

.discoverGrid2{
    flex-direction: column;
}

.blogs{
    /* margin: auto; */
    overflow: scroll;
    width: 300px;
}
}